---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="post-list">
      {%- for post in site.posts -%}
      <div class="post-card" style="background-image: url('{{ post.image | relative_url }}');" onclick="window.location='{{ post.url | relative_url }}'">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3 class="post-title">
            {{ post.title | escape }}
        </h3>
        <div class="post-excerpt">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
        <div class="category-container">
          {%- for category in post.categories -%}
            <div class="category">{{ category }}</div>
          {%- endfor -%}
        </div>
      </div>
      {%- endfor -%}
    </div>

  {%- endif -%}

</div>
